/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Global classes*/
html,body                                                   {background-color: #F5F4F4; display: table; height: 100%; width: 100%; color: #606060; font-family: "Open Sans",sans-serif;}
body                                                        {overflow-x:hidden;}
h1                                                          {}
h2                                                          {}
h3                                                          {}
h4                                                          {}
h5                                                          {}
h6                                                          {}
a                                                           {}
a:hover                                                     {text-decoration:none;}
*:focus                                                     {outline:none !important;}
*                                                           {transition: all ease-in-out 0.28s;}
.no-select                                                  {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.clearfix                                                   {clear: both;}
.row                                                        {margin-left: -7.5px; margin-right: -7.5px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 7.5px; padding-right: 7.5px;}

/*Navigation*/
#navigation                                                 {z-index:5; background-color: #222; display: table; transition:width ease-in-out 0.28s; position:absolute; left:0; top:0; bottom:0; width:200px; cursor:default;}
#navigation-block                                           {position: absolute; top: 60px; width: 180px; background-color: #222;}
#navigation .logo                                           {opacity:1; transition:opacity ease-in-out 0.28s; max-width:180px; padding:10px;}
#navigation .menu-toggle                                    {position:absolute; bottom:5px; right:5px; }

/*Navigation carets*/
#navigation.expanded .caret                                 {transform:rotate(90deg);}
#navigation.narrow .caret                                   {transform:rotate(-90deg);}

#navigation.narrow                                          {width: 45px;}
#navigation.expanded                                        {height: 100%; width:180px;}

#navigation ul                                              {width: 180px; margin:0; padding:0; list-style:none; list-style-image:none; margin-bottom: 10px;}
#navigation ul li a                                         {transition:color ease-in-out 0.28s,background-color ease-in-out 0.28s; padding:8px 0; display:block; position:relative; padding-left:40px; color:#fff; text-transform: inherit;}
#navigation ul li a:hover                                   {color: #ccc; background-color:#111;}
#navigation ul li a span                                    {line-height:18px; font-size:14px;}
#navigation ul li a .fa                                     {color: #999; padding-top:8px; font-size:14px; line-height:18px; text-align:center; display:block; position:absolute; top:1px; left:5px; width:35px; height:35px; overflow:hidden;}
#navigation ul li.active a                                  {color: #fff; background: #8ABADE;}
#navigation ul li.active a .fa                              {color: #fff;}
#navigation ul li ul                                        {background-color: #333; max-height: 0px; margin-bottom: 0px; overflow: hidden;}
#navigation ul li.active ul, #navigation ul li:hover ul     {max-height: 500px;}
#navigation ul li ul li a                                   {color: #BBB; padding-left: 15px; font-size: 13px;}
#navigation ul li.active ul li a                            {color: #BBB; background: #333;}
#navigation ul li ul li a:hover                             {color: #fff;}
#navigation ul li ul li.active a                            {font-weight: bold; color: #fff}

/*Navigation narrow overrides*/
#navigation.narrow h3                                       {opacity:0;}
#navigation.narrow .logo                                    {opacity:0;}

/*Mobile navigation styles*/
.mobile-nav                                                 {width: 100%; height: 45px; background-color: #222;}
.mobile-nav .nav-toggle                                     {float: left; margin-top: 9px; padding: 3px 10px; background:0; border:0;}
.mobile-nav .nav-toggle .icon-bar                           {display: block; width: 30px; height: 3px; border-radius:1px; background-color:#bbb;}
.mobile-nav .nav-toggle .icon-bar+.icon-bar                 {margin-top: 6px;}

.mobile-nav .user-info                                      {float:right; padding:12.5px; padding-right:20px; color:#fff;}
.mobile-nav .user-info a                                    {color: #fff;}
.mobile-nav .user-info:hover                                {background-color: #8ABADE;}

/*Page*/
div#page                                                       {transition: left 0.28s ease-in-out; position:absolute; width: calc(100% - 180px);}
div#page.nav-expanded                                          {left:180px; padding: 15px 0 0;}
div#page.nav-narrow                                            {left:0; }

div#page table tbody.disabled td.icon-sort                     {font-size: 0px;}

div#page .nav-tabs                                             {border-bottom: 0px solid white;}
div#page .nav-tabs>li                                          {margin-bottom: -2px;}
div#page .nav-tabs>li a                                        {color: gray;}
div#page .nav-tabs>li>a:hover                                  {border: 1px solid #E5E5E5;}
div#page .nav-tabs>li.active>a                                 {background-color: #eee; border-color: #E5E5E5; border-bottom: 0; z-index: 2;}
div#page .block                                                {position: relative; min-width: 255px; border: 1px solid #E5E5E5; -webkit-box-shadow: 0 0 15px 0 rgba(37,49,51,0.10); -moz-box-shadow: 0 0 15px 0 rgba(37,49,51,0.10); box-shadow: 0 0 15px 0 rgba(37,49,51,0.10); background: #FFF; margin-bottom: 20px;}
div#page .block h3.title                                       {margin: 0; border-bottom: 1px solid #EEE; font-weight: bold; color: #222; background: #eee;}
div#page .block h3.title span                                  {font-size: 15px; padding: 8px 12px; margin: 0; line-height: 1.4; display: block;}
div#page .block h3.title a                                     {float: right; font-size: 13px; padding: 8px 12px; margin: 0; line-height: 1.4; display: block;}
div#page .block div.content                                    {padding: 15px; font-size: 13px;}
div#page .block div.content ul                                 {list-style: none; padding: 0; margin: 0;}
div#page .block div.content table.table tr td span             {opacity: 0;}
div#page .block div.content table.table tr td span[data-label] {opacity: 1;}
div#page .block div.content table.table tr:hover td span       {opacity: 1;}
div#page .block#dashboard_gertlily_support .inside             {margin: 0;}
div#page .block#dashboard_gertlily_support p.sub               {padding: 5px 0 15px; font-weight: 600; left: 14px; letter-spacing: 1px; position: absolute; text-transform: uppercase; top: -17px;}
div#page .block#dashboard_gertlily_support .table              {margin: 0; padding: 0; position: relative;}
div#page .block#dashboard_gertlily_support table               {width: 100%;}
div#page .block#dashboard_gertlily_support table td            {padding: 3px 0; white-space: nowrap;}
div#page .block#dashboard_gertlily_support td.b                {padding-right: 6px; width: 75%;}
div#page .block#dashboard_gertlily_support td a:hover          {color: #d54e21;}
div#page .block#dashboard_gertlily_support .t                  {padding-right: 12px; width: 25%;}
div#page .block#dashboard_gertlily_support .t, div#page .block#dashboard_gertlily_support .b {padding-top: 4px;}
div#page .block#dashboard_gertlily_support .t a                {white-space: nowrap;}
div#page .block#dashboard_gertlily_support .open, div#page .block#dashboard_gertlily_support .open a {color: green;}
div#page .block#dashboard_gertlily_support .closed, div#page .block#dashboard_gertlily_support .closed a {color: red;}
div#page .block#dashboard_gertlily_support .versions           {clear: both;}
div#page .block#dashboard_gertlily_support .versions p         {margin: 1em 0 0;}
div#page .block#dashboard_gertlily_support a.button            {float: right; clear: right; position: relative; top: -5px;}
div#page .block div.content .upload                            {position: relative; overflow: hidden; width: 100%;}
div#page .block div.content .upload input[type=file]           {position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0);}

/*Login*/
#login                                                      {font-weight: normal; padding: 26px 10px 46px; position: relative; border: 1px solid #E5E5E5; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); background: #FFF; margin-top: 50px;}
#login #page-header                                         {border-bottom: 1px solid #eee; margin-bottom: 30px; padding: 0 0 30px;}
#login #page-header .page-title                             {font-size: 24px; font-weight: 600; line-height: 30px; text-transform: uppercase; margin: 0; float: left;}
#login label                                                {color: #777; font-size: 14px; width: 100%;}
#login label input                                          {color: #555; font-weight: 200; font-size: 24px; line-height: 1; width: 100%; padding: 3px; margin-top: 2px; margin-right: 6px; margin-bottom: 16px; border: 1px solid #e5e5e5; background: #fbfbfb; outline: 0; -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2); box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);}

/* ==========================================================================
   Media Queries
   ========================================================================== */


/*Mobile*/
@media (max-width: 767px) {
body                                                        {overflow-x:hidden; padding-top:45px;}
/*#navigation-block                                             {display: none;}*/
#navigation-block.mobile-hidden                             {left:-181px;transition:left 0.28s ease-in-out;}
#navigation-block.mobile-visible                            {left:0;transition:left 0.28s ease-in-out; height: calc(100% - 45px);}
#navigation                                                 {top:45px; left:-181px; transition:0;}
#navigation.mobile-hidden                                   {left:-181px;transition:left 0.28s ease-in-out;}
#navigation.mobile-visible                                  {left:0;transition:left 0.28s ease-in-out; height: calc(100% - 45px);}
.mobile-nav                                                 {position:fixed; top:0; left:0; right:0; z-index:6;}
.mobile-nav .nav-toggle                                     {transition:margin-left 0.28s ease-in-out;}
.mobile-nav .nav-toggle.nav-visible                         {}
.mobile-nav .nav-toggle.nav-hidden                          {margin-left:0;}

div#page                                                    {padding-left:0px; padding-right:0; transition:left 0.28s ease-in-out; position:absolute; width:100% !important;}
div#page.nav-visible                                        {left:180px;}
div#page.nav-hidden                                         {left:0;}
div#page.nav-expanded                                       {padding-left:0; padding-right:0;}
div#page.nav-narrow                                         {padding-left:0; padding-right:0;}
div#page .block:first-child                                 {margin-top: 20px;}
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px) {
body                                                        {overflow-x:hidden; padding-top:45px; }
#navigation-block.mobile-hidden                             {left:-181px;transition:left 0.28s ease-in-out;}
#navigation-block.mobile-visible                            {left:0;transition:left 0.28s ease-in-out; height: calc(100% - 45px);}
#navigation                                                 {top:45px; left:-181px; transition:0;}
#navigation.mobile-hidden                                   {left:-181px;transition:left 0.28s ease-in-out;}
#navigation.mobile-visible                                  {left:0;transition:left 0.28s ease-in-out; height: calc(100% - 45px);}
.mobile-nav                                                 {position:fixed; top:0; left:0; right:0; z-index:6;}
.mobile-nav .nav-toggle                                     {transition:margin-left 0.28s ease-in-out;}
.mobile-nav .nav-toggle.nav-visible                         {}
.mobile-nav .nav-toggle.nav-hidden                          {margin-left:0;}

div#page                                                    {padding-left:0px; padding-right:0; transition:left 0.28s ease-in-out; position:absolute; width:100% !important;}
div#page.nav-visible                                        {left:180px;}
div#page.nav-hidden                                         {left:0;}
div#page.nav-expanded                                       {padding-left:0; padding-right:0;}
div#page.nav-narrow                                         {padding-left:0; padding-right:0;}
div#page .block:first-child                                 {margin-top: 20px;}
}

/*Small Desktop*/
@media (min-width: 992px) and (max-width: 1200px) {

}

/*Large Desktop*/
@media (min-width: 1200px) {

}